  html, body {
    height: 100%;
    width: 90%;
    margin: 0px auto;
  }
  
  .header {
    margin-top: 60px;
    text-align: center;
  }
  .container {
    margin-top: 50px;
    box-shadow: 10px 10px 50px #c9c9c9;
    -moz-box-shadow: 10px 10px 50px #c9c9c9;
    -webkit-box-shadow: 10px 10px 50px #c9c9c9;
  }

  canvas {
    background: white;
  }